.layout {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;

  header {
    width: 100%;
    height: 72px;
    background-color: rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 30px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 2000;
    transition: all .3s ease;

    @media screen and (max-width: 500px) {
      padding: 0 20px;
    }

    .menu {
      ul {
        display: flex;
        list-style: none;

        & > li {
          margin: 0 20px;
          font-size: 1.2rem;

          a {
            color: rgb(51, 52, 56);
          }

          @media screen and (max-width: 500px) {
            margin: 0 10px;
            font-size: 1rem;
          }
        }
      }
    }
    .menuVisible {
      @media screen and (max-width: 500px) {
        transform: translateX(0);
      }
    }

    .visibleBtn {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 18px;
      right: 40px;
      display: none;
      flex-direction: column;
      justify-content: space-around;
      z-index: 20;

      @media screen and (max-width: 500px) {
        display: flex;
      }

      .line {
        width: 100%;
        height: 3px;
        background-color: #000;
        transition: all 0.3s ease;
        transform-origin: center center;
      }
    }

    .on {
      .line {
        &:nth-child(1) {
          transform: rotate(45deg) translateY(15px) translateX(4px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translateY(-15px) translateX(4px);
        }
      }
    }
  }

  .header {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;

    .title{
       animation: title .3s ease forwards;
       width: 100%;
       text-align: center;
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
    }

    .date{
      font-size: 1rem;
      margin-top: 10px;
      animation: date .3s ease forwards;
    }
  }

  .top {
    box-shadow: none;

    .menu {
      ul {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .visible {
    transform: translateY(-100%);
    opacity: 0;
  }

  .siderBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 30;
    visibility: hidden;
    transition: all 0.3s ease;

    .closeMenu {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
    }
    .siderMenu {
      width: 60%;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.3s ease;
    }
  }

  .menuVisible {
    visibility: visible;
  }

  footer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    a{
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
}


@keyframes title{
  0%{
     opacity: 0;
     transform: translateY(-60px);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes date{
  0%{
     opacity: 0;
     transform: translateX(60px);
  }
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}